//===================================================================
//  GENERAL
//===================================================================
.sign-in, .change-password, .dashboard {
  margin-top: 90px;
  input {
    color: #999;
    border: none;
    border-bottom: 1px solid $colors-alt-black;
    margin-bottom: 1em;
    font-size: 1.35rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.eb-button__container {
  width: 30%;
  margin: 0 auto;
}

.eb-button {
  @include button-base;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #555;
  padding: 0;
  width: 100%;
  height: 48px;
  font-family: inherit;
  font-size: rem(18px);
  line-height: 48px;
  color: #999;
  background: transparent;

  &:first-of-type {
    margin-right: 20px;
  }

  &:hover {
    border: 2px solid #aaa;
    line-height: 46px;
    //border-color: #aaa;
  }
}

//===================================================================
//  LOGIN
//===================================================================

.sign-in, .change-password {
  max-width: 300px;
}

.login__error-msg {
  color: red;
  text-align: center;
}

.sign-in__heading {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

//===================================================================
//  DASHBOARD
//===================================================================

.dashboard {
  max-width: 60%;
  font-family: $alt-font-family;
}

.dashboard__wrapper {
  text-align: center;
}

.pending-changes__wrapper {
  @include default-top-border();
  margin-top: 40px;
}

.pending-changes__title {
  margin-top: 1em;
  font-family: Marvel, 'sans-serif';
}

.admin-pending_paragraph {
  margin-top: 0.5em;
  list-style: none;
}

.pending-changes__undo {
  background: lighten(red, 20%);
}
.pending-changes__publish {
  background: #62F462;
}

.pending-changes__publish, .pending-changes__undo {
  margin-top: 1em;
  color: black;
  width: 45%;
}

//===================================================================
//  CHANGE PASSWORD
//===================================================================

.change-password__link {
  color: black;
  text-align: center;
}

.change-password__success-msg, .change-password__error-msg {
  font-size: 1rem;
  text-align: center;
}

.change-password__success-msg {
  color: #00B900;
}

.change-password__error-msg {
  color: red;
}