//===================================================================
//  GENERAL
//===================================================================
.sign-in, .change-password, .dashboard {
  font-family: $alt-font-family;
  margin-top: 60px;
  input {
    font-family: $alt-font-family;
    color: #999;
    border: none;
    border-bottom: 1px solid $colors-alt-black;
    margin-bottom: 1em;
    font-size: 1.35rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.eb-button__container {
  width: 50%;
  margin: 0 auto;
  @include flex-perfect-center();
  flex-wrap: wrap;
  justify-content: center;
}

.eb-button {
  @include button-base;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #555;
  padding: 0;
  width: 100%;
  height: 48px;
  font-family: inherit;
  font-size: rem(18px);
  line-height: 48px;
  color: #999;
  background: transparent;

  &:first-of-type {
    margin-right: 20px;
  }

  &:hover {
    border: 2px solid #aaa;
    line-height: 46px;
    //border-color: #aaa;
  }
}

//===================================================================
//  LOGIN
//===================================================================

.sign-in, .change-password {
  max-width: 300px;
}

.login__error-msg {
  color: red;
  text-align: center;
}

.sign-in__heading {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}


//===================================================================
//  CUSTOMER GALLERIES
//===================================================================

.customer__gallery__form {
  padding-top: 40px;
  width: 30%;
  margin: 0 auto;
  font-size: 2rem;
  .eb__send_btn, .eb__input {
    width: 100%;
  }
  .eb__form_title {
    font-size: 0.9em;
    margin-left: 0;
  }
}

//===================================================================
//  DASHBOARD
//===================================================================

.dashboard {
  max-width: 60%;
  font-size: 1.5rem;
}

.dashboard__wrapper {
  text-align: center;
}

.dashboard__header {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 40px;
}

.admin_delete_help {
  margin-bottom: 25px;
}

[placeholder="Category Name"], [placeholder="..."] {
  text-align: center;
}

//===================================================================
//  PENDING CHANGES
//===================================================================

.pending-changes__list_wrapper {
  @include flex-perfect-center(flex-start);
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.category__container {
  width: 25%;
  margin-bottom: 40px;
  h3 {
    @include default-bottom-border();
    padding-bottom: 10px;
  }
}

.pending-changes__wrapper {
  @include default-top-border();
  margin-top: 40px;
}

.pending-changes__title {
  margin: 40px 0;
}

.admin-pending_subcategory {
  margin-top: 10px;
  list-style: none;
}

.pending-changes__undo {
  background: lighten(red, 20%);
}
.pending-changes__publish {
  background: #62F462;
}

.pending-changes__publish, .pending-changes__undo {
  margin-top: 1em;
  color: black;
  width: 45%;
}

//===================================================================
//  CHANGE PASSWORD
//===================================================================

.dashboard__link {
  color: black;
  text-align: center;
  text-decoration: none;
  @extend .link-border-hidden;

  &.active, &:hover {
    @extend .link-border;
  }
}

.dashboard__link_divider {
  margin: 0 10px;
}

.change-password__success-msg, .change-password__error-msg {
  font-size: 1rem;
  text-align: center;
}

.change-password__success-msg {
  color: #00B900;
}

.change-password__error-msg {
  color: red;
}

@media (max-width: 960px) {
  .dashboard {
    max-width: 80%;
  }
  .category__container {
    width: 50%;
  }
  .eb-button__container {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .dashboard {
    max-width: 100%;
  }
  .category__container {
    width: 100%;
  }
  .eb-button__container {
    width: 100%;
  }
}