//===================================================================
//  GRID
//===================================================================

.g-row {
  @include grid-row;
}

.g-col {
  @include grid-column;
  width: 100%;
}

@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}



@media (min-width: 1860px) {
  .g-row {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .g-row {
    max-width: 95%;
  }
}