//===================================================================
//  SETTINGS
//===================================================================

$base-background-color: white !default;
$base-font-color: black !default;
$base-font-family: 'Josefin Slab', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 18px !default;
$base-line-height: 24px !default;

$alt-font-family: Marvel, 'sans-serif';

$colors-black: black;
$colors-alt-black: rgb(31, 31, 31);
$colors-gray: #999;
$colors-gray-light: lighten($colors-alt-black, 37%);
$colors-white: white;
$ericaYellow: #FFEA00;
//===============================================
//  GRID
//===============================================
$grid-max-width: 70% !default;


//===============================================
//  EXTENDS
//===============================================
.link {
    list-style: none;
    margin: 0 0.4em;
    transition: border-bottom 0.8s linear;
    border-bottom: 1px solid white;
}

.link-border-hidden {
  transition: border 0.5s linear;
  border-bottom: 1px solid rgba(255, 234, 0, 0);
}

.link-border {
  border-bottom: 1px solid $ericaYellow;
}

.no-scroll {
  overflow: hidden;
}
//===============================================
//  MIXINS
//===============================================
@mixin font-family($family: $base-font-family) {
  font-family: $family;
}
@mixin quick-cubic-transition($prop: all) {
  transition: $prop .4s cubic-bezier(0,0,.25,1);
}

@mixin shake-animation($timing: 0.82s) {
  animation: shake $timing cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}