@import
"settings";

@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins",
"~minx/src/reset",
"~minx/src/elements";

@import
"grid",
"app/home",
"app/header",
"app/gallery",
"app/galleries",
"app/newsReporting",
"app/lightbox",
"app/about",
"app/contact",
"app/main",
"vendor/toastr",
"vendor/sweetalert",
"vendor/animate",
"admin/admin",
"core/dropdown",
"tasks/notification",
"tasks/task-filters",
"tasks/task-form",
"tasks/task-item",
"tasks/task-list";


.hide, .hidden {
  display: none !important;
}

a:focus {
  outline: none;
}

::selection {
  background: rgba(54, 77, 245, 0.1);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-moz-autofill {
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:-o-autofill {
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:-khtml-autofill {
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}

input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-moz-autofill {
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-o-autofill {
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-khtml-autofill {
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}

// Overrides
#toast-container>div {
  font-family: $alt-font-family;
  font-size: 1.4rem;
}