.about__container {
  margin-top: 60px;
  font-size: 1.4rem;
}

.about__content {
}

.about__left_col, .about__right_col {
  width: 70%;
  float: left;
}

.about__right_col {
  width: 30%;
}

.about__image {
  width: 100%;
  margin-left: 20px;
}

.about__content__p {
  margin-bottom: 20px;
}

.contact__social_icons {

  &.about {
    padding-top: 80px;
    font-size: 2rem;
    clear: both;
    @include flex-perfect-center();

    a {
      color: $contact-black;
      margin-bottom: 20px;

      i {
        @include quick-cubic-transition(color);
      }

      &:hover {
        color: $colors-gray-light;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .about__left_col, .about__right_col {
    width: 100%;
    float: none;
  }
  .about__right_col {
    margin: 0 auto;
    width: 50%;
  }
  .about__left_col {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .about__right_col {
    width: 100%;
    margin: 0;
  }
  .about__image {
    margin: 0;
  }
  .about__left_col {
    margin-bottom: 20px;
  }
}