.about__container {
  margin-top: 60px;
  font-size: 2rem;
}

.about__content {
  font-size: 0.7em;
}

.about__left_col, .about__right_col {
  width: 70%;
  float: left;
}

.about__right_col {
  width: 30%;
  float: left;
}

.about__image {
  width: 100%;
  margin-left: 20px;
}

.about__content__p {
  margin-bottom: 20px;
}