
@mixin contact__placeholder-style() {
  color: $contact-black;
  text-align: center;
}

@mixin contact__placeholder-focus() {
  color: $colors-gray;
}

@mixin contact__placeholder-textarea() {
  line-height: 90px; // center text vertically
}

.contact__container {
  display: flex;
  margin-top: 60px;
  font-size: 1.4rem;
  color: $contact-black;
  text-shadow: 0 0 0.02em rgba(164, 164, 164, 1);

   > div {
    display: flex;

    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    width: 50%;
    padding: 10px;
  }

  > div:first-child {
    margin-right: 20px;
  }
}

.contact__social {
  @include font-family($alt-font-family);

  .contact__email-link {
    @include quick-cubic-transition(color);
    margin: 30px 0 20px;
    font-size: 2rem;
    color: $colors-gray-light;
    text-decoration: none;

    &:hover {
      color: $contact-black;
    }

    &:focus {
      outline: none;
    }
  }

}

.contact__social_icons {
  display: flex;
  flex-flow: row wrap;

  &.contact__page {
    font-size: 1.8rem;
  }

  a {
    @include quick-cubic-transition(color);
    margin: 15px;
    &:hover {
      color: $colors-gray;
    }
  }
}

.contact__form, .eb__form {
  .contact__form_title {
    @include font-family($alt-font-family);
    margin-bottom: 40px;
    font-size: 2em;
    margin-left: -10%; // offset width: 90%
    font-weight: normal;
    text-align: center;
  }

  .contact__name, .contact__email, .contact__subject, .contact__textarea, .eb__input {
    @include quick-cubic-transition();
    @include font-family($alt-font-family);
    font-size: 0.9em;
    //background: lighten($colors-gray, 37%);
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid $colors-gray-light;

    &.eb__input_error {
      @include shake-animation();
      border-bottom-color: red;
    }
  }

  .contact__name, .contact__email, .contact__subject, .eb__input {
    width: 90%;
    margin: 0 auto 20px;
    height: 30px;
    text-align: center;

    &:focus {
      outline: none;
      color: $colors-gray;
    }
  }

  .contact__name {
    text-transform: capitalize;
  }

  .contact__textarea {
    width: 90%;
    height: 100px;
    margin: 0 auto 20px;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  .contact__send, .eb__send_btn {
    @include button-base;
    @include font-family($alt-font-family);
    border: none;
    width: 90%;
    background: $ericaYellow;
    border-radius: 2px;
    font-size: 1.1em;
    padding: 10px 20px;
    @include quick-cubic-transition(all);

    &:hover {
      background: $colors-alt-black;
      color: $colors-white;
    }

    &:focus {
      outline: none;
    }
  }

  .g-recaptcha {
    margin-bottom: 30px;
    width: 90%;
    > div > div {
      margin: 0 auto;
    }
  }

  // Placeholder Styles
  ::-webkit-input-placeholder {
    @include contact__placeholder-style();
  }

  input:focus::-webkit-input-placeholder {
    @include contact__placeholder-focus();
  }

  textarea::-webkit-input-placeholder {
    @include contact__placeholder-textarea();
  }

  textarea:focus::-webkit-input-placeholder {
    @include contact__placeholder-focus();
  }

  :-moz-placeholder { /* Firefox 18- */
    @include contact__placeholder-style();
  }

  textarea:focus:-moz-placeholder {
    @include contact__placeholder-focus();
  }

  input:focus:-moz-placeholder {
    @include contact__placeholder-focus();
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    @include contact__placeholder-style();
  }

  input:focus::-moz-placeholder {
    @include contact__placeholder-focus();
  }

  textarea:focus::-moz-placeholder {
    @include contact__placeholder-focus();
  }

  :-ms-input-placeholder {
    @include contact__placeholder-style();
  }

  input:focus:-ms-input-placeholder {
    @include contact__placeholder-focus();
  }

  textarea:focus:-ms-input-placeholder {
    @include contact__placeholder-focus();
  }
}


@media (max-width: 992px) {
  .contact__container {
  font-size: 2rem;
  }

  .contact__form_title {
    font-size: 1.7em;
  }
}

@media (max-width: 640px) {
  .contact__container {
    flex-wrap: wrap;

    > div {
      flex: 1 0 235px;
      width: 100%;
    }
  }
}