.cg__container {
  margin-top: 60px;
}

.zip_file_p, .cg__title {
  text-align: center;
}

.cg__title {
  font-family: $alt-font-family;
  font-size: 1.9em;
}

.zip_file_p {
  font-family: $alt-font-family;
  margin-top: 10px;
}

.cg_customer__link_wrapper {
  font-family: $alt-font-family;
  margin-top: 40px;
  text-align: center;
}