// .gallery__container {
// }

.galleries__links {
  margin-top: 30px;
  font-size: 1.55rem;
  text-align: center;
  text-transform: capitalize;

  > li {
    display: inline-block;
    margin: 0 20px;

    > a {
      text-decoration: none;
      color: $colors-gray;
      transition: color 0.5s linear;

      &.active, &:hover {
        color: $colors-black;
      }
    }
  }
}

.gallery {
  margin-top: 25px;
}

.gallery__navigation {
  border-top: 1px solid $colors-gray;
}

.gallery__masonry {
}

.masonry__image__container {
  width: 25%;
  padding: 5px;
  border-radius: 2px;
  transition: position 0.4s ease-in-out;
  > img {
    width: 100%;
    height: auto;
  }
}

// @media (max-width: 960px) {

// }