//===================================================================
//  CATEGORIES LINKS
//===================================================================

.galleries__links {
  margin: 60px 0 30px;
  font-size: 1.55rem;
  text-align: center;
  text-transform: capitalize;

  > li {
    display: inline-block;
    margin: 0 20px;

    > a {
      text-decoration: none;
      color: $colors-gray;
      transition: color 0.5s linear;

      &.active, &:hover {
        color: $colors-black;
      }
    }
  }
}

//===================================================================
//  GALLERY
//===================================================================
.gallery {
  margin: 25px 0 80px;
}

// .gallery__navigation {
//   @include default-top-border();
// }

.gallery__masonry {
}

.masonry__image__container {
  width: 25%;
  padding: 5px;
  border-radius: 2px;
  transition: position 0.4s ease-in-out;
  > img {
    width: 100%;
    height: auto;
  }

  .gallery__image {
    border-radius: 2px;
    @include quick-cubic-transition(border);

    &.pending {
      border: 2px solid $ericaYellow;
    }

    &.gallery__image_delete {
      border: 2px dashed red;
    }

    &:active {
      outline: none;
    }
  }
}

.gallery__add_category_container {
  width: 100%;
  margin: 40px auto;
  @include flex-perfect-center();

  .gallery__category_controls {
    width: 65%;
    margin: 0 auto;
  }

  p, input, button {
    font-family: $alt-font-family;
    font-size: 1.4rem;
    display: inline-block;
  }
  button, input {
    @include interaction-base();
  }
  p {
    margin-right: 10px;
  }
  input {
    margin-right: 10px;
    text-align: center;
    border-bottom: 2px solid $colors-black;
    @include quick-cubic-transition(border-bottom);

    &:hover, &:focus {
      border-bottom-color: $ericaYellow;
    }
  }
  button {
    @include button-base();
    background: $ericaYellow;
    border-radius: 3px;
    @include quick-cubic-transition(background);

    &:hover {
      background: $colors-black;
      color: $colors-white;
    }
  }
}

//===================================================================
//  GALLERY ADMIN STYLES
//===================================================================
/*
* Image Upload Controls
*/
.gallery__dropzone_container {
  font-family: $alt-font-family;
  margin: 0 auto 60px;
  font-size: 1.4rem;
  width: 80%;
}

.gallery__dropzone {
  width: 60%;
  margin: 0 auto 10px;
  padding: 20px;
  background: $ericaYellow;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  @include quick-cubic-transition(background);



  &:hover {
    background: $colors-black;
    color: $colors-white;
  }
}

.gallery__dropzone_help {
  text-align: center;
  font-size: 0.9em;
}

.gallery__dropzone_title {
  text-align: center;
  margin-bottom: 20px;
  font-family: $alt-font-family;
  font-size: 1.4em;
}

/*
* Misc Image Controls
*/
$misc-controls-position: 15px;
.gallery__image_orderBy, .gallery__image_star {
  @include quick-cubic-transition(all);
  position: absolute;
  top: $misc-controls-position;
}

.gallery__image_orderBy {
  left: $misc-controls-position;
}

.gallery__image_star {
  color: $ericaYellow;
  right: $misc-controls-position;
  text-decoration: none;

  &.fa-star-o {
    color: $colors-alt-black;

    &:hover {
      color: $ericaYellow;
    }
  }
}

/*
* Delete Controls
*/
.gallery__delete_controls {
  @include flex-perfect-center;
  font-size: 1.5rem;
  font-family: $alt-font-family;
}

.delete__toggle_message, .taggedForDeleteCount {
  font-family: $alt-font-family;
  font-weight: bold;
  text-align: center;
}

.delete__toggle_message, .delete__help_message {
  font-family: $alt-font-family;
  font-weight: bold;
  text-align: center;
}

.delete__help_message {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.taggedForDeleteCount {
  color: red;
}

$delete-margin-right: 20px;

.gallery__delete_reset, .gallery_delete_confirm {
  @include quick-cubic-transition(color);
  text-decoration: none;
  font-weight: bold;
}

.gallery__delete_reset {
  margin-right: $delete-margin-right;

  &:hover {
    color: $ericaYellow;
  }
}

.gallery_delete_icon {
  font-size: 2.5em;
  color: $colors-gray;
  margin-right: $delete-margin-right;
  cursor: pointer;
  @include quick-cubic-transition(color);

  &:hover, &.active {
    color: red;
  }

  &.active {
    &.hover {
      color: $colors-gray;
    }
  }
}

.gallery_delete_confirm {

  &:hover {
    color: red;
  }
}

@media (min-width: 1440px) {
  .gallery__dropzone_container {
    width: 70%;
  }
}

@media (max-width: 960px) {
  .gallery__dropzone_container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .gallery__dropzone_container {
    width: 90%;
  }
}