.gallery__container {
  border-top: 1px solid $colors-black;
}

.galleries__links {
  margin-top: 30px;
  font-size: 1.55rem;
  text-align: center;

  > li {
    display: inline-block;
    margin: 0 20px;

    > a {
      text-decoration: none;
      color: $colors-gray;
      transition: color 0.5s linear;

      &.active, &:hover {
        color: $colors-black;
      }
    }
  }
}

.gallery {
  margin-top: 25px;
}