.image__container {
  position: relative;
  margin-bottom: 10px;
  > img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
}

.gallery-edit__image-placeholder {
  background: black;
  opacity: 0.7;
}

.gallery-edit__image-text input {
  background: none;
  color: white;
  border: none;
  text-align: center;
  font-size: inherit;
  font-family: $base-font-family;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.gallery-edit__icon, .overlay, .gallery-url__input, .gallery-url_input-label {
  position: absolute;
  top: 0;
  color: white;
}

.fa-check-square-o {
  color: lighten(green, 30%);
}
.gallery-url__input:focus {
  outline: none;
}

.gallery-url__input, .gallery-url_input-label {
  left: 0;
  background: none;
  width: 210px;
  border: none;
  border-bottom: 1px solid white;
}

.gallery-url_input-label {
  font-family: Marvel, 'sans-serif';
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  border: none;
}

.gallery-left {
  .gallery-url_input-label {
    margin: -28% 0 0 -41%;
  }
  .gallery-url__input {
    margin: -37% 0 0 -41%;
  }
}

.gallery-right {
  .gallery-url_input-label {
    margin: -33% 0 0 -45%;
  }
  .gallery-url__input {
    margin: -39% 0 0 -45%;
  }
}

.gallery-edit__icon {
  right: 0;
}

.gallery-left {
  .gallery-edit__icon {
    margin: -36% -41% 0 0;
  }
}

.gallery-right {
  .gallery-edit__icon {
    margin: -39% -45% 0 0;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  opacity:0;
  text-align:center;
  transition: opacity 0.75s ease;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.75);
    padding:45px 0 66px 0;
  }
}

.overlay__content {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  p:first-of-type, .gallery-edit__image-text {
    padding-top: 32.5%;
  }
  span {
    width: 30%;
    display: block;
    margin: 0.5em auto;
    height: 1px;
    background: white;
  }
}

.image__container:hover .overlay {
  opacity: 1;
  &:before {
    opacity: 0.5;
  }
}

.gallery-left {
  float: left;
  width: 40%;
}

.gallery-right {
  float: right;
  width: 59%;
}

@media (max-width: 960px) {

  .gallery-left {
    float: left;
    width: 100%;
  }

  .gallery-right {
    float: right;
    width: 100%;
  }
}


@media (max-width: 480px) {
  .gallery-url__input, .gallery-url_input-label {
    width: 150px;
  }
  .overlay__content .gallery-image-text, .gallery-edit__image-text {
    font-size: 0.9rem;
  }
}
