//===================================================================
//  HEADER
//===================================================================

.header {
  margin-top: 45px;
  padding: 10px 0;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
  font-size: 1.5rem;
}

.home__link {
  color: inherit;
}

.header__title {
  float: left;
  font-size: 1.5em;
  font-weight: 400;
  text-rendering: auto;
  transform: translate(0,0);
}

.header__sub_title {
  color: $colors-gray;
  float: left;
  margin: 4px 0 0 3px;
  font-size: 0.8em;

  > span {
    font-size: 0.8em;
  }
}

.header__links {
  @include clearfix;
  float: right;
  padding: 15px 0 0;
  line-height: 24px;

  li {
    float: left;
    @extend .link;

    a {
      @extend .link-border-hidden;

      &.active, &:hover {
        @extend .link-border;
      }
    }
  }
}


.header__link {
  display: block;
  color: inherit;
  font-size: rem(16px);
  text-decoration: none;
  text-rendering: auto;
  transform: translate(0,0);

  &.hasPendingUpdates {
    &:after {
      content: attr(data-pendingupdatescount);
      display: block;
      position: absolute;
      top: -17px;
      right: -17px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: $ericaYellow;
      padding-left: 6px;
    }
  }

  &.doubledigits {
    &:after {
      top: -17px;
      right: -17px;
      width: 20px;
      height: 20px;
      padding-left: 4px;
      font-size: 0.8em;
    }
  }
  // style for when pendingUpdatesCount is more than a single digit
  &.tripledigits {
    &:after {
      top: -17px;
      right: -17px;
      width: 20px;
      height: 20px;
      padding-left: 4px;
      font-size: 0.6em;
    }
  }
}

.header__link--github {
  @include fa-icon(github);
  font-size: rem(24px);

  &:before {
    font-family: 'FontAwesome';
    line-height: 24px;
  }
}
