//===================================================================
//  HEADER
//===================================================================

.header {
  margin-top: 45px;
  padding: 10px 0;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
}


.header__title {
  color: black;
  float: left;
  font-size: rem(28px);
  font-weight: 400;
  text-rendering: auto;
  transform: translate(0,0);
}

.header__sub_title {
  float: left;
  margin: 4px 0 0 3px;
  font-size: rem(14px);
}


.header__links {
  @include clearfix;
  float: right;
  padding: 15px 0 0;
  line-height: 24px;

  li {
    float: left;
    list-style: none;
    margin: 0 0.4em;

    &:first-child {
      border: none;
    }
  }
}


.header__link {
  display: block;
  color: inherit;
  font-size: rem(14px);
  text-decoration: none;
  text-rendering: auto;
  transform: translate(0,0);
}


.header__link--github {
  @include fa-icon(github);
  font-size: rem(24px);

  &:before {
    font-family: 'FontAwesome';
    line-height: 24px;
  }
}
