.lbx-container {
  position: fixed;
  display: none;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in;

  &.show {
    display: block;
    background: rgba(0, 0, 0, 0.96);
  }

}

.lbx-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lbx-controls-left,
.lbx-controls-right,
.lbx-controls-share,
.lbx-controls-close,
.lbx-slide__counter {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.lbx-controls-left,
.lbx-controls-right,
.lbx-controls-share,
.lbx-controls-close {
  &:hover {
    cursor: pointer;
  }
}

.lbx-slide__counter {
  font-family: $alt-font-family;
  top: 25px;
  left: 30px;
}

$control-margin: 40px;

.lbx-controls-left, .lbx-controls-right {
  height: 100px;
  width: 100px;
  top: 42.5%;
  padding: 10px;

  &:before {
    position: absolute;
    top: 28px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.17);
  }
}

.lbx-controls-left {
  left: 0;

  &:before {
    left: 29px;
  }
}

.lbx-controls-right {
  right: 0;

  &:before {
    right: 29px;
  }
}

.lbx-controls-share {
  right: 80px;
  font-size: 1.3em;
  top: 28px;
}


.lbx-controls-close {
  right: 30px;
  top: 25px;
}

.lbx-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}