.lbx-container {
  position: fixed;
  display: none;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in;

  &.show {
    display: block;
    background: rgba(0, 0, 0, 0.96);
  }

}

.lbx-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lbx-controls-left,
.lbx-controls-right,
.lbx-controls-share,
.lbx-controls-close,
.lbx-slide__counter {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
}

.lbx-slide__counter {
  top: 25px;
  left: 30px;
}

$control-margin: 40px;

.lbx-controls-left {
  left: 0;
  top: 50%;
  margin-left: $control-margin;
}

.lbx-controls-right {
  right: 0;
  top: 50%;
  margin-right: $control-margin;
}

.lbx-controls-share {
  right: 80px;
  font-size: 1.3em;
  top: 28px;
}


.lbx-controls-close {
  right: 30px;
  top: 25px;
}

.lbx-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 2.7% auto;
}