//===================================================================
//  MAIN
//===================================================================

.main {
  padding-bottom: 120px;
}

::-webkit-scrollbar {
  width: 2px;
}

a {
  color: black;
}
// ::-webkit-scrollbar-thumb {
//   background: #000;
// }

.under__construction {
  margin: 5em 0 2.5em;
  text-align: center;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    @extend .link-style;
    &:hover {
      @extend .link-border-style;
    }
  }
}