.pricing__container {

}

.pricing__link_wrapper, .pricing__list {
  list-style: none;
}

.pricing__categories {
  margin: 60px 0 40px;
  ul {
    text-align: center;
  }
  .pricing_link_li {
    @extend .link;
    position: relative;
    margin: 10px 20px;
    display: inline-block;
    font-size: 1.4em;
    text-align: center;
    a {
      @extend .link-border-hidden;
      text-decoration: none;
      &.active, &:hover {
        @extend .link-border;
      }
    }
  }
}

.pricing__categories_edit {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

.pricing__package {
  @include flex-perfect-center();
}

.pricing__list {
  text-align: center;
  @include flex-perfect-center();
  ul {
    list-style: none;
    margin: 0 20px;
    li:first-of-type {
      font-size: 1.1em;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

$misc-controls-position: 15px;

.pricing_category_orderby {
  @include quick-cubic-transition(all);
  position: absolute;
  top: $misc-controls-position;
}

@media (max-width: 740px) {
  .pricing__categories {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .pricing__container {
    font-size: 0.7rem;
  }
}
