.pricing_container {

}

.pricing__link_wrapper, .pricing__list {
  list-style: none;
}

.pricing__link_wrapper {
  margin: 60px 0 40px;
  .pricing_link_li {
    @extend .link;
    margin: 0 20px;
    font-size: 1.4em;
    text-align: center;
    a {
      @extend .link-border-hidden;
      text-decoration: none;
      &.active, &:hover {
        @extend .link-border;
      }
    }
  }
}

.pricing__link_wrapper, .pricing__package {
  @include flex-perfect-center();
}

.pricing__list {
  text-align: center;
  li:first-of-type {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}